/* Bradley Showalter */

/*As a first step in our evaluation process, I'd like to have you convert a static Thanksgiving promo image (http://static.seriouseats.com/1/braestar/live/pages/thanksgiving/promo-footer.jpg) into responsive html and css.

You'll find the promo directly after the entry body on relative Thanksgiving content, like this: http://www.seriouseats.com/2015/11/how-thanksgiving-killed-my-restaurant-career.html (searching for 'Nov 24' should jump right to it). The background image used in the current promo is accessible here: http://static.seriouseats.com/1/braestar/live/pages/thanksgiving/20150923-Thanksgiving-spread-vicky-wasik-001.jpg.  Don't feel restricted to create an _exact_ duplicate of the promo -- rather, I'd like to see a responsive version that works at our breakpoints.

For QA purposes, it may be helpful to know that 52% of our audience accesses the site on a mobile device, mostly on iOS.  Traffic is split fairly evenly between Chrome (42%) and Safari (39%), but we also support Firefox (6%) and IE (5%, IE9 and greater).  Your results should be stored in a public Github repository on your account.  When submitting your results also include a brief description of how you approached the problem.  What tools did you use?  What was your workflow?  What, if any, challenges did you over come?  How did you approach browser/device testing?

Let me know if you have any questions about the exercise or otherwise -- I look forward to seeing the results.*/


body {
  min-width: 320px;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
}

.thanksgiving-banner {
  text-decoration: none;
  display: inline-block;
}

.main {
  width: 615px;
  height:200px;
  background: url("images/thanksgiving.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main .opaque-layer {
  width: 280px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main .opaque-layer .innards {
  padding: 20px 10px 0 10px;
}

.main .opaque-layer .innards hr {
  margin: 0;
  border-top: 1px;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-style: solid;
  border-color: #EBBF3A;
}

.main .opaque-layer .innards .tagline {
  font-size: 18px;
  text-align: center;
  color: #3C4049;
  margin: 10px;
}

.main .opaque-layer .innards .tagline .thanks {
  font-size: 33px;
}

.main .opaque-layer .innards .tagline .survival {
  font-size: 24px;
}

.main .opaque-layer .innards .go {
  color: #FD380D;
  padding: 3px;
  border: 2px solid #FD380D;
  background-color: #FFFFFF;
  font-size: 22px;
  display: block;
  margin: 10px auto;
  width: 33px;
}

.thanksgiving-banner:hover > .main .opaque-layer .innards .go {
  color: #FFFFFF;
  background-color: #FD380D;
  transition-duration: 400ms;
}

/* Media queries for scaling the images as the screen hits specific breakpoints */

@media(max-width: 700px) {
  .main {
    width: 530px;
    height: 170px;
    background-size: 530px;
  }

  .main .opaque-layer {
    width: 280px;
    height: 200px;
  }

  .main .opaque-layer .innards {
    padding: 25px 10px 0 10px;
  }

  .main .opaque-layer .innards .tagline {
    font-size: 15px;
    margin: 8px;
  }

  .main .opaque-layer .innards .tagline .thanks {
    font-size: 27px;
  }

  .main .opaque-layer .innards .tagline .survival {
    font-size: 21px;
  }

  .main .opaque-layer .innards .go {
    padding: 3px;
    font-size: 18px;
    margin: 10px auto;
    width: 28px;
  }
}


/* Media query for transforming the banner into a button on mobile devices*/
@media(max-width: 550px) {
  .main {
    width: 240px;
    height: 170px;
  }

  .main .opaque-layer {
    width: 240px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .main .opaque-layer .innards {
    padding: 15px 10px 0 10px;
  }

  .main .opaque-layer .innards .go {
    color: #FFFFFF;
    background-color: #FD380D;
  }
}
